<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>League Match History</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<section style="height: 100px; background-color: #6e8c6654;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 col-xl-10">
        <div class="card rounded-5">
          <div class="card-body p-5">
            <h4 class="text-center my-3 pb-3">League Match History</h4>
            <form name="myForm" onsubmit="return validateForm()" class="row justify-content-center" action="/add" method="post">
              <div class="col-4">
                <div class="form-outline">
                  <label for="sports">Choose a sport:</label>
                  <select class="form-control" name="sports" class="dropdown-menu w-100" id="sports">
                    <option value="Soccer">Soccer</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Ice Hockey">Ice Hockey</option>
                    <option value="Volleyball">Volleyball</option>
                    <option value="Badminton">Badminton</option>
                    <option value="Gymnastics">Gymnastics</option>
                    <option value="Fencing">Fencing</option>
                    <option value="Table Tennis">Table Tennis</option>
                    <option value="Other">Other</option>
                  </select>
                  <br>
                  <label for="team">Enter a team name:</label>
                  <input type="text" id="team" name="team" class="form-control" placeholder="Team name"/>
                </div>
              </div>
              <div class="col-4">
                <div class="form-outline">
                  <label for="against">This team win against:</label>
                  <input type="text" id="against" name="against" class="form-control" placeholder="Win against"/>
                  <br>
                  <label for="score">Score:</label>
                  <input type="text" id="score" name="score" class="form-control" placeholder="Score"/>
                </div>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>

            <br>
            <h5 class="text-center my-3 pb-3">Match Record</h5>
            <table class="table mb-4">
                <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Sports</th>
                      <th scope="col">Team</th>
                      <th scope="col">Status</th>
                      <th scope="col">Against</th>
                      <th scope="col">Score</th>
                      <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sport in sport_list %}
                    <tr>
                      <th scope="row">{{sport.id }}</th>
                      <td>{{ sport.sports }}</td>
                      <td>{{ sport.team }}</td>
                      <td>
                        {% if sport.complete == False %}
                        <div class="alert alert-success" role="alert">Win</div>
                        {% else %}
                        <div class="alert alert-secondary" role="alert">Lose</div>
                        {% endif %}
                      </td>
                      <td>{{ sport.against }}</td>
                      <td>{{ sport.score }}</td>
                      <td>
                        <a class="btn btn-success" href="/update/{{ sport.id }}">Update</a>
                        <a class="btn btn-danger ms-1" href="/delete/{{ sport.id }}">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function validateForm() {
  i = document.forms["myForm"]["team"].value;
  j = document.forms["myForm"]["against"].value;
  k = document.forms["myForm"]["score"].value;
  if (i == "" || j == "" || k == "") {
    alert("Field must be filled out");
    return false;
  }
  if (i.length > 30 || j.length > 30 || k.length > 30) {
    alert("Field should not be more than 30 characters");
    return false;
  }
}
</script>
</body>
</html>  

<!-- 
template is adapted from:
https://tutorial101.blogspot.com/2023/02/python-flask-simple-to-do-sqlalchemy.html 
-->